{% extends 'base.html' %}

{% block content %}

   <div class="card bg-light text-block">
    {% if request.user.id == post.user.id  %}

    <a href="{% url 'home_app:delete' post.id %}"  class="btn btn-danger">Delete</a>
    <a href="{% url 'home_app:update'  post.id %}" class="btn btn-info">Update<a>
    {% endif %}

    <p><a href="{% url 'account_app:profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.update|date:"Y-M" }} </p>

    <p>{{ post.body }} </p><hr/>

    </div>


    {% if request.user.is_authenticated %}
        <form action="" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send">
        </form><br/>
    {% else %}
        <p class="alert alert-danger">only logged in users can comment</p></hr>
    {% endif %}


    {% for comment in comments %}

        <div class="card bg-dark text-white">
            <p class='card-header'>{{ comment.user }} | {{ comment.created }} </p>
            <p class='card-body'>{{ comment.created|timesince }}</p>
            <p class='card-body'>{{ comment.body }}</p><br/>
            <div><br/><hr/>
            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <p class="bg-primary p-3 m-2"> {{ reply.user }} <br/> {{ reply.body }} </p>
                {% endfor %}
            {% endwith %}
            </div><br/>
            
       

        </div><br/></hr>
    {% empty %}
        <p> no comments yet ! </p>
    {% endfor %}
    <p>{{ comments.count }}comments</p>
    
{% endblock %}